{:paths ["src" "resources"]
 :deps  {org.clojure/clojure {:mvn/version "1.12.2"}
         ;; HTTP
         ;;; client
         org.babashka/http-client {:mvn/version "0.4.23"}
         ;;; server
         aleph/aleph {:mvn/version "0.9.3"}
         metosin/reitit {:mvn/version "0.9.1"}
         metosin/muuntaja {:mvn/version "0.6.11"}
         ;; hiccup and markdown
         dev.onionpancakes/chassis {:mvn/version "1.0.365"}
         com.kiranshila/cybermonday {:mvn/version "0.6.215"}
         ;; xml
         org.clojure/data.xml {:mvn/version "0.2.0-alpha9"}
         org.clj-commons/hickory {:mvn/version "0.7.7"}
         ;; S3
         com.cognitect.aws/api {:mvn/version "0.8.774"}
         com.cognitect.aws/endpoints {:mvn/version "871.2.33.10"}
         com.cognitect.aws/s3 {:mvn/version "871.2.33.5"}
         ;; validation
         metosin/malli {:mvn/version "0.19.1"}}
 :neil {:project {:name com.noblepayne/feed-fire}}}
